body {
    background-image: url(assets/background1.gif);
    background-repeat:no-repeat;
    background-size:cover;
    outline: solid red;
}

.navbar{
    margin:auto;
    padding: 20px 0px 20px 100px;
    outline: solid red;
    display: flex;
}

.links{
    display: flex;
    margin-left:auto ;
    outline: solid;
}

.links a{
    padding: 10px;
}