* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, Arial, sans-serif ;
    background-color: white;
}

ul{
    list-style: none;
}

.navigation{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 20px 180px;
    background-color: #1f2937;
    color: white;
}   

.header h1{
    font-size: 25px;
    font-weight: 700px;
}

.header-link {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}


.hero-section{
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    flex-wrap: wrap;
}


.hero-content h1 {
    font-size: 48px;
    font-weight: 800;
    width: 420px;
    
}

.hero-content p{
    color: #E5E7EB;
    width: 450px;
    margin: 10px 0 25px 0;
}

.hero-content button{
    padding: 10px 30px;
    border: none;
    background-color: #3882F6;
    border-radius: 10PX;
    cursor: pointer;
}

.hero-image img{
    object-fit: cover;
    width: 460px;
    height: 240px;
    background: #999;
    border-radius: 15px;
}

.random-info-section{
    padding: 60px 0;
    text-align: center;
}

.info-section h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
}

.info-section-image{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.info-card{
    width: 200px;
}

.info-card img{
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 35px;
}

.info-card p{
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

.review-qoute{
    display: flex;
    background-color: #E5E7EB;
    padding: 120px 260px;
    font-size: 36px;
    color: #1f2937;
    
}

.review{
    max-width: 800px;
    font-style: italic;
    line-height: 1.4;
}
.cite {
    text-align: right;
    font-weight: bold;
    margin-top: 15px;
    font-size: 24px;
}

.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin: 100px 180px;
    padding: 40px 80px;
    border-radius: 10px;
}

.action-section button{
    padding: 8px 25px;
    border: solid white;
    background: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.footer{
    text-align: center;
    padding: 40px;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
}









