body {
    background: url(assets/background1.gif) no-repeat center/ cover,#000;          
    background-attachment: fixed;
    font-family: "Jacquard 24", system-ui;
}


.nav-logo{
    display: flex;
}

.navbar{
    margin:10px;
    display: flex;
}

.nav{
    display: flex;
    margin-left:auto ;
}

.links a{
    padding: 10px;
}

.hero-content-container{
    display: flex;
    

}

.hero-content{

}

.hero-image{
    border: solid;
}

