body {
    background: url(assets/background1.gif) no-repeat center/ cover,#000;          
    background-attachment: fixed;
}


.nav-logo{
    display: flex;
}

.navbar{
    margin:10px;
    display: flex;
}

.link{
    display: flex;
    margin-left:auto ;
}

.links a{
    padding: 10px;
}

