* {
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 0%;
}

ul{
    list-style: none;
}

.navigation{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
}   

.header{
    padding: 15px 20px;
}


.header-link {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 10px;
}


.hero-section{
    display: flex;
    padding: 40px;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.hero-content{
    border: solid;
    margin: 90px;
}



.info-section{
    text-align: center;
}

.info-section-image{
    display: flex;
    justify-content: center;
}

.info-card{
    
    gap: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
}


